.product .product-title{
    color: #74777B;
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 40px;
}
.product .tag-item{
    background-color: rgba(221, 158, 16, 0.1);
    border: 0.5px solid #DD9E10;
    color: #DD9E10;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    padding: 4px 18px;
    padding: 4px 18px;
    margin-bottom: 6.4px;
    margin-right: 6.4px;
}