.product .product-title {
    color: #74777B;
    font-size: 16px;
    white-space: nowrap;
    padding: 0px 0px 40px 0px !important; 
}
.product tbody tr td{
    padding-bottom: 35px !important;
}

.product .tag-item {
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    padding: 4px 18px;
    margin-bottom: 6.4px;
    margin-right: 6.4px;
    text-transform: capitalize;
}

.product .bestValue {
    background-color: rgba(221, 158, 16, 0.1);
    border: 0.5px solid #DD9E10;
    color: #DD9E10;
}

.product .bestCamera {
    background-color: rgba(135, 76, 114, 0.1);
    border: 0.5px solid #874C72;
    color: #874C72;
}

.product .bestPerformance {
    background-color: rgba(17, 160, 219, 0.1);
    border: 0.5px solid #11A0DB;
    color: #11A0DB;
}

.not-found {
    text-align: center;
    color: #cb6c6c;
    font-size: 12px;
}
.cardMedia{
    width: 104px !important;
    height: 104px;
    object-fit: cover !important;
    cursor: pointer;
}

.image-gallery-thumbnail-image {
    height: 70px;
    object-fit: cover;
}

.image-gallery-image {
    min-height: 320px;
}