.filter-input,
.filter-input:hover {
    border: 1px solid #B7B8BC !important;
}

.filter-input {
    height: 35px;
    transition: 0.3s ease;
}

.filter-input .MuiSelect-select {
    min-width: 150px;
    text-align: center;
    padding: 12px 14px;
}

.filter-input:hover {
    background: #0095A0;
    color: #fff !important;
}

.MuiModal-root .MuiMenuItem-root.Mui-selected {
    color: #0095A0 !important;
}