.navbar {
    background-color: #0095A0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05) !important;
}

.navbar .MuiToolbar-root {
    padding: 0px 80px;
}

.addProduct-btn {
    color: #0095A0 !important;
    background-color: #F7F5F2 !important;
    box-shadow: none !important;
}

.MuiFab-root {
    background-color: #0095A0 !important;
}

.scroll-to-top {
    transition: all .3s;
}

.scroll-to-top .icon {
    font-size: 22px;
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}


/* responsive */

@media only screen and (max-width: 767px) {
    .navbar .MuiToolbar-root {
        padding: 0px 20px;
    }
    .search-input .MuiInputBase-input {
        padding: 6px 15px !important;
    }
}

@media only screen and (max-width: 400px) {
    .navbar .w-54 {
        width: 54%;
    }
    .navbar .search-input ::placeholder {
        font-size: 10px !important;
    }
    .navbar .search-icon {
        padding: 0px 8px !important;
    }
    .navbar .search-icon .MuiSvgIcon-root {
        font-size: 16px !important;
    }
}