@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text-none {
    text-transform: none !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.fw-700 {
    font-weight: 700 !important;
}

.text-gray {
    color: #74777B !important;
}


/* product */

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-width: 0.5px !important;
    border-color: #B7B8BC !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #0095A0 !important;
}